.App {
  text-align: center;
  background-color: #F0F1F1;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#greeting {
  padding-top: 3%;
  padding-bottom: 3%;
  width: 100%;
  background: linear-gradient(rgba(255,255,255,.3), rgba(255,255,255,.3)),
    url('./images/hr-form-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#search-results {
  margin: 2% auto;
  width: 60%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
  font-weight: 300;
  font-style: italic;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.3em;
}

h5 {
  font-size: 1.2em;
  opacity: .9;
  margin: 8px 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
