#searchbar {
    margin: 4% auto;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-type {
    font-size: 18px;
    padding: 0px 8px;
}

#search-type label{
    font-size: 16px;
}

#search-field input, #submit-button button {
    padding: 5px;
    margin: 0px 8px;
    font-size: 16px;
}


#submit-button button {
    border: 2px solid #000;
    border-radius: 25px;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #000;
    background-color: rgba(0, 0, 0, .0);
    padding: 4px 12px;
}

#submit-button button:hover {
    background-color: #147BA5;
    border-color: #147BA5;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

@media screen and (max-width: 767px) {
    form {
        display: block;
    }

    #search-field {
        padding: 2% 0;
    }

  }
