#searchbar {
    margin-top: 4%;
    margin-bottom: 4%;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-type {
    font-size: 18px;
}

#search-type label{
    /* display: inline; */
    font-size: 16px;
}

#search-field input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
}
